<button class='mb-2 ml-3' nz-button (click)='toggle(true)' nzType='primary' >
    <i nz-icon nzType='edit' nzTheme='outline' *ngIf="payslip.id"></i>
    <span *ngIf="!payslip.id">Add Payslip</span>
    
  </button><br>
  <nz-drawer [nzClosable]='false' [nzWidth]='500' [nzVisible]='visible' nzPlacement='right'
             [nzTitle]='payslip.id ? "Edit Payslip" : "Add Payslip"' (nzOnClose)='toggle(false)'>
    <ng-container *nzDrawerContent>
      <form nz-form [formGroup]='form' nzLayout='vertical' (ngSubmit)='submit()'>
        <formly-form [model]='payslip' [fields]='fields' [options]="options"  [form]='form' ></formly-form>
       <div class="row">
        <div class="col">
          <nz-form-item>
            <nz-form-label nzRequired>No of Days(Of Leave Type)</nz-form-label>
            <nz-form-control>
              <nz-input-number [nzMin]="0" formControlName="leaveDays" style="width:100%" ></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col">
          <nz-form-item>
            <nz-form-label nzRequired>Basic Salary</nz-form-label>
            <nz-form-control>
              <nz-input-number [nzMin]="0" formControlName="basic_salary" style="width:100%"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
 
       <div class="row">
        <div class="col">
          <nz-form-item>
            <nz-form-label nzRequired>Transport Allowance</nz-form-label>
            <nz-form-control>
              <nz-input-number [nzMin]="0" formControlName="transport_allowance" style="width:100%"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col">
          <nz-form-item>
            <nz-form-label nzRequired>Night Allowance</nz-form-label>
            <nz-form-control>
              <nz-input-number [nzMin]="0" formControlName="night_allowance" style="width:100%"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <nz-form-item>
            <nz-form-label nzRequired>Other Allowances</nz-form-label>
            <nz-form-control>
              <nz-input-number [nzMin]="0" formControlName="allowances" style="width:100%"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col">
          <nz-form-item>
            <nz-form-label nzRequired>Attendance Bonus</nz-form-label>
            <nz-form-control>
              <nz-input-number  [nzMin]="0" formControlName="attendance_bonus" style="width:100%" ></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
       </div>
       <div class="row">
        <div class="col">
          <nz-form-item>
            <nz-form-label nzRequired> Housing Plan</nz-form-label>
            <nz-form-control>
              <nz-input-number [nzMin]="0" formControlName="housing_plan" style="width:100%"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col">
          <nz-form-item>
            <nz-form-label nzRequired>Deductions</nz-form-label>
            <nz-form-control>
              <nz-input-number  [nzMin]="0" formControlName="otherDeductions" style="width:100%" ></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
       </div>
       <div class="row">
        <div class="col">
          <nz-form-item>
            <nz-form-label nzRequired>Overtime Holiday</nz-form-label>
            <nz-form-control>
              <nz-input-number [nzMin]="0" formControlName="overtime_holiday" style="width:100%"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col">
          <nz-form-item>
            <nz-form-label nzRequired>NSSA</nz-form-label>
            <nz-form-control>
              <nz-input-number [nzMin]="0" formControlName="nssa" style="width:100%"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col">
          <nz-form-item>
            <nz-form-label nzRequired>Overtime Hours</nz-form-label>
            <nz-form-control>
              <nz-input-number [nzMin]="0" formControlName="overtime" style="width:100%"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
        <nz-button-group class='mt-1'>
          <div>
            <app-loader *ngIf="isLoading"></app-loader>
            <button nz-button nzType="primary" type="submit" [disabled]="form.invalid">Save</button>
          </div>   <button nz-button nzType='primary' (click)='toggle(false)' nzGhost type='reset'>Cancel</button>
        </nz-button-group>
      </form>
    </ng-container>
  </nz-drawer>
  

