<h3>
<div style="padding:30px;">
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="14">
        <!-- <nz-card nzTitle="Take A leave">
       
            -->
            <h3 class="text-center">Take A Leave </h3><br>
            <form nz-form   [formGroup]="leaveForm"  (ngSubmit)="submitForm()">
                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired >From</nz-form-label>
                    <nz-form-control [nzSpan]="14" nzHasFeedback nzErrorTip="The input is invalid!">
                      <nz-date-picker formControlName="fromDate" [(ngModel)]="applyLeave.fromDate" name="fromDate" nzPlaceHolder="Select Start Date"  class="login-form-button login-form-margin" name="toDate"  id="toDate" ></nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
            
                  <nz-form-item>
                      <nz-form-label [nzSpan]="7" nzRequired >  To</nz-form-label>
                      <nz-form-control [nzSpan]="14" nzHasFeedback  nzErrorTip="The input is invalid!">
                        <nz-date-picker formControlName="toDate" name="toDate" [(ngModel)]="applyLeave.toDate" nzPlaceHolder="Select End Date" class="login-form-button login-form-margin" name="toDate"  id="toDate" ></nz-date-picker>
                      </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                      <nz-form-label [nzSpan]="7" nzRequired >Leave Type</nz-form-label>
                      <nz-form-control [nzSpan]="14" nzHasFeedback  nzErrorTip="The input is invalid!">
                        <nz-select
                            id="leaveType"
                            nzPlaceHolder="Select Leave Type"
                            formControlName="leaveType"
                            name="leaveType"
                            [(ngModel)]="applyLeave.leaveType"
                           >
                            <nz-option nzValue="SICK_LEAVE" nzLabel="SICK LEAVE"></nz-option>
                            <nz-option nzValue="VACATION" nzLabel="VACATION"></nz-option>
                            <nz-option nzValue="UNPAID_LEAVE" nzLabel="UNPAID LEAVE"></nz-option>
                          </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                 
                    <nz-form-item>
                      <nz-form-label [nzSpan]="7" nzRequired>Reason</nz-form-label>
                      <nz-form-control [nzSpan]="14"  nzErrorTip="Please write something here!">
                        <nz-textarea-count [nzMaxCharacterCount]="2000">
                          <textarea  formControlName="reason" [(ngModel)]="applyLeave.reason" name="reason" nz-input rows="2" placeholder="write any thing"></textarea>
                        </nz-textarea-count>
                      </nz-form-control>
                    </nz-form-item>
                       
                  <nz-form-item nz-row class="login-form-margin">
                    <nz-form-control  [nzOffset]="7" [nzSpan]="14">
                      <button nz-button   type="submit"   nzType="primary">Apply Leave </button>&nbsp;&nbsp; 
                      <button nz-button   type="reset"   nzType="primary" nzDanger>Cancel </button>
                    </nz-form-control>
                  </nz-form-item>
                </form>
<!-- 
        </nz-card> -->
      </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div nz-col [nzSpan]="6">
        <!-- <nz-card nzTitle="Leave Description"> -->
          <h3 class="text-center">Leave Description </h3>   <br>
    <nz-table #middleTable nzSize="middle" [nzData]="data"
    [nzFrontPagination]="false"
      [nzShowPagination]="false">
      <thead>
        <tr>
          <th>Leave Type</th>
          <th>Allowance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of middleTable.data">
          <td><nz-badge [nzStatus]="data.type" ></nz-badge>{{ data.leaveType }}</td>
          <td>{{ data.defaultDays }}</td>
        </tr>
<br><br><br><br>


      </tbody>
    </nz-table>
        <!-- </nz-card> -->
      </div>
    </div>
  </div>
</h3>



    

