<button class='mb-2 ml-3' nz-button (click)='toggle(true)' nzType='primary'>
  <i nz-icon nzType='edit' nzTheme='outline' *ngIf="leave.id"></i>
  <span *ngIf="!leave.id">Apply Leave</span>
</button><br>

<nz-drawer [nzClosable]='false' [nzWidth]='400' [nzVisible]='visible' nzPlacement='right'
           [nzTitle]='leave.id? "Edit Leave":"Apply Leave"' (nzOnClose)='toggle(false)'>
  <ng-container *nzDrawerContent>
    <form nz-form [formGroup]='form' nzLayout='vertical' (ngSubmit)='submit()'>
      <formly-form [model]="leave" [fields]='fields' [options]="options" [form]='form'></formly-form>
      <nz-form-item>
        <nz-form-label  >Leave Type</nz-form-label>
        <nz-form-control>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a leave " formControlName="leaveType" (ngModelChange)="handleLeaveTypeChange($event)" >
            <nz-option nzLabel="Annual" nzValue="Annual"></nz-option>
            <nz-option nzLabel="Unpaid" nzValue="Unpaid"></nz-option>
            <nz-option nzLabel="Sick" nzValue="Sick"></nz-option>
            <nz-option nzLabel="Maternity" nzValue="Maternity"></nz-option>
            <nz-option nzLabel="Study" nzValue="Study"></nz-option>
            <nz-option nzLabel="Special" nzValue="Special"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label  nzRequired>Reason</nz-form-label>
        <nz-form-control  nzHasFeedback nzErrorTip="Please write something here!">
          <nz-textarea-count [nzMaxCharacterCount]="2000">
            <textarea formControlName="reason" nz-input rows="2" placeholder="write any thing"></textarea>
          </nz-textarea-count>
        </nz-form-control>
      </nz-form-item>
      <div class="clearfix">
              <ng-container *ngIf="showUpload">
                <nz-upload
                nzType="drag"
                [nzMultiple]="true"
                [nzAction]="baseUrl+'/file/create'"
                (nzChange)="handleChange($event)"
              >
                <p class="ant-upload-drag-icon">
                  <span nz-icon nzType="inbox"></span>
                </p>
                <p class="ant-upload-text">Click or drag file to this area to upload</p>
                <p class="ant-upload-hint">
                </p>
              </nz-upload>
              </ng-container>

        <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible = false">
          <ng-template #modalContent>
            <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
          </ng-template>
        </nz-modal>
        <em style="float: right; top: -5em; position: relative; color: darkgreen; font-size: smaller;">
          {{leave.success ? 'Uploaded Successfully' : ''}}
        </em>
      </div>

      <nz-button-group class='mt-1'>
        <div>
          <app-loader *ngIf="isLoading"></app-loader>
          <button nz-button nzType="primary" type="submit" [disabled]="form.invalid">Save</button>
        </div>    <button nz-button nzType='primary' (click)='toggle(false)' nzGhost type='reset'>Cancel</button>
      </nz-button-group>
    </form>
  </ng-container>
</nz-drawer>
