<div class="page">
  <form nz-form  class="login-form"   (ngSubmit)="submitForm()">
    <h2 style="text-align: center;">Login</h2>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your email!">
          <nz-input-group nzPrefixIcon="user">
            <input [(ngModel)]="user.username" name="username"  type="userName" nz-input  placeholder="userName" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock">
            <input [(ngModel)]="user.password" name="password"  type="password" nz-input  placeholder="Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
          <label nz-checkbox >
            <span>Remember me</span>
          </label>
        </div>
        <div nz-col [nzSpan]="12">
          <a class="login-form-forgot">Forgot password</a>
        </div>
      </div>
      <button nz-button type="sumbit"  class="login-form-button login-form-margin" nzType="primary">Log in</button>
     <p> No Account ?   <a routerLink="/register">Register now!</a></p> 
    </form>
</div>

  

   