.login-form {
    margin: auto;
    padding-top: 150px;
   max-width: 400px;

 }

/* body{
  background: url('src/assets/afrosoft-holdings-squarelogo-1625772221086.png') no-repeat ; 
    background-attachment: fixed;
    background-size:cover;
    background-size: 100%  100%;
    min-height: 100%; 
} */

 .login-form-forgot {
   float: right;
 }

 .login-form-button {
   width: 100%;
  
 }

