<nz-card  style="width:60%; margin: auto;" nzTitle="Company Registration" >
  <form nz-form nzLayout='vertical' style="width:60%;" [formGroup]="registrationForm"  (ngSubmit)="submitForm()">

   

      <nz-form-item>
          <nz-form-label nzRequired >  First Name</nz-form-label>
          <nz-form-control  nzHasFeedback nzErrorTip="The input is invalid!">
            <input nz-input [(ngModel)]="user.firstName" name="firstName"  id="firstName" formControlName="firstName"/>
          </nz-form-control>
        </nz-form-item>
  
        <nz-form-item>
          <nz-form-label  nzRequired nzFor="lastName">Last Name</nz-form-label>
          <nz-form-control  nzHasFeedback  nzErrorTip="The input is invalid!">
            <input nz-input  [(ngModel)]="user.lastName" name="lastName" id="lastName" formControlName="lastName"/>
          </nz-form-control>
        </nz-form-item>
  
        <nz-form-item>
            <nz-form-label nzRequired>E-mail</nz-form-label>
            <nz-form-control  nzHasFeedback [nzErrorTip]="emailErrorTpl">
              <input nz-input [(ngModel)]="user.email" name="email" formControlName="email"  type="email" />
              <ng-template #emailErrorTpl let-control>
                <ng-container *ngIf="control.hasError('email')">The input is not valid E-mail!</ng-container>
                <ng-container *ngIf="control.hasError('required')">Please input your E-mail!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
     
        <nz-form-item>
            <nz-form-label  nzRequired>Username</nz-form-label>
            <nz-form-control  nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
              <input nz-input [(ngModel)]="user.username" name="username" formControlName="username"  />
              <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please input your username!</ng-container>
                <ng-container *ngIf="control.hasError('duplicated')">The username is redundant!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>


        <nz-form-item>
            <nz-form-label nzFor="password" nzRequired>Password</nz-form-label>
            <nz-form-control nzHasFeedback  [nzErrorTip]="errorTpl">
              <input
                nz-input
                type="password"
                id="password"
                formControlName="password"
                [(ngModel)]="user.password" name="password"
                (ngModelChange)="updateConfirmValidator()"/>

                <ng-template #errorTpl let-control>
                    <ng-container *ngIf="control.hasError('minlength')">Password too short !!!</ng-container>
                    <ng-container *ngIf="control.hasError('required')">Please input your password!</ng-container>
                    <ng-container *ngIf="control.hasError('pattern')">
                      <small>
                        Please include all of the following <br>
                        At least 6 characters in length<br>
                        -Lowercase letters<br>
                        -Uppercase letters<br>
                        -Numbers<br>
                        -Special characters
                      </small>  
                     </ng-container>
                  </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label>
            <nz-form-control [nzErrorTip]="errorTpl"  nzHasFeedback>
              <input  nz-input type="password" formControlName="checkPassword" id="checkPassword" />
              <ng-template #errorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please confirm your password!</ng-container>
                <ng-container *ngIf="control.hasError('confirm')">
                  Two passwords that you enter is inconsistent!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
  
         
      <nz-form-item nz-row class="register-area">
        <nz-form-control   >
          <button nz-button  type="submit" [disabled]="registrationForm.invalid"  nzType="primary">Register Company</button>&nbsp;&nbsp;
          <button nz-button (click)="resetForm($event)"  nzType="primary">Reset</button>&nbsp;&nbsp;
          Already Registered? <a style="color:rgb(0, 38, 255);"     routerLink="/login"> Go to Login</a>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
  
