body {
  background: url('src/assets/laptop2.jpg') no-repeat ; 
  background-attachment: fixed;
  background-size:cover;
  background-size: 100%  100%;
  width:100%;
  min-height: 100vh; 
}

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 100vh;
    width: 100vw;
  }
  

     
     [nz-form] {
        max-width: 600px;
        margin: auto;
        /* padding-top: 100px; */
        /* background-color: aqua; */
      }

      .phone-select {
        width: 70px;
      }

      .register-are {
        margin-bottom: 8px;
      }

      i {
        cursor: pointer;
      }
      
      .login-form {
        margin: auto;
        padding-top: 100px;
        width: 300px;
        background-color: #9fa2a33c;
        border-radius: 6px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
      }    


 .login-form-margin {
    margin-bottom: 16px;
  }
  .text-center{
    color:#8e8ebb
   
  }
 
  .login-form-forgot {
    float: right;
  }
 
  .login-form-button {
    width: 100%;
  }
 

  .password-input-wrapper {
    position: relative;
  }
  
  .password-input-wrapper i {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    cursor: pointer;
  }
 