<button class="mb-2 ml-3" nz-button (click)="toggle(true)" nzType="primary">
  <i nz-icon nzType="edit" nzTheme="outline" *ngIf="employee.id"></i>
  <span *ngIf="!employee.id">Add Employee</span>
</button>
<br>
<nz-drawer [nzClosable]="false" [nzWidth]="500" [nzVisible]="visible" nzPlacement="right"
           [nzTitle]="employee.id ? 'Edit Employee' : 'Add Employee'" (nzOnClose)="toggle(false)">
  <ng-container *nzDrawerContent>
    <form nz-form [formGroup]="form" nzLayout="vertical" (ngSubmit)="submit()">
      <!-- <formly-form [model]="employee" [fields]="fields" [options]="options" [form]="form"></formly-form> -->
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired>Full Name</nz-form-label>
            <nz-form-control>
              <input nz-input   placeholder="please enter first name" formControlName="firstName"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired >Last Name</nz-form-label>
            <nz-form-control>
              <input nz-input   placeholder="please enter last name" formControlName="lastName"/>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="email">Email</nz-form-label>
            <nz-form-control  nzErrorTip="The input is not valid E-mail!">
              <input nz-input  id="email"  placeholder="please enter email" formControlName="email"/>
              </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired>Gender</nz-form-label>
            <nz-form-control>
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Gender "  formControlName="gender">
                <nz-option nzLabel="Male" nzValue="Male"></nz-option>
                <nz-option nzLabel="Female" nzValue="Female"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired>Grade</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="please enter grade" formControlName="grade"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired>Status</nz-form-label>
            <nz-form-control>
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Status " formControlName="status" >
                <nz-option nzLabel="Temporary" nzValue="temporary"></nz-option>
                <nz-option nzLabel="Permanent" nzValue="permanent"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired>Username</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="please enter user name" formControlName="username"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired>Password</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="please enter password" formControlName="password"/>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzRequired>Date of Birth</nz-form-label>
            <nz-form-control>
              <nz-date-picker  formControlName="dateOfBirth"></nz-date-picker>
           </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzRequired>Date Of Join</nz-form-label>
            <nz-form-control>
              <nz-date-picker  formControlName="date_of_join"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzRequired>Department</nz-form-label>
            <nz-form-control>
              <nz-select  nzShowSearch nzAllowClear nzPlaceHolder="Select Department " formControlName="departmentId" >
                <nz-option *ngFor="let option of departments" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <nz-button-group class="mt-1">
        <div>
          <app-loader *ngIf="isLoading"></app-loader>
          <button nz-button nzType="primary" type="submit" [disabled]="form.invalid">Save</button>
        </div>
        <button nz-button nzType="primary" (click)="toggle(false)" nzGhost type="reset">Cancel</button>
      </nz-button-group>
    </form>
  </ng-container>
</nz-drawer>


