
<nz-layout class="app-layout" nzTheme="light">
  <nz-sider class="menu-sidebar" nzTheme="light" nzCollapsible  [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo-container">
      <img src="/assets/title1.png" alt="Logo" class="text-center" style="width: 100px;margin-left:27px">
    </div>
      <ul nz-menu   nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu nzOpen nzTitle="Dashboard" >
          <ul>
  
            <li nz-menu-item routerLink="/welcome/my-leaves">
              <i nz-icon nzType='home'></i>
              <span>Home</span>
            </li>
  
            <li *ngxPermissionsOnly="['ADMIN']"  nz-menu-item routerLink="/welcome/calendar">
              <i nz-icon nzType='calendar'></i>
              <span>Calendar</span>
            </li>
            
            <li *ngxPermissionsOnly="['ADMIN']"  nz-menu-item routerLink="/welcome/allLeaves">
              <i nz-icon nzType='clock-circle'></i>
              <span>All Leaves</span>
            </li>
            
            <li *ngxPermissionsOnly="['ADMIN']"   nz-menu-item routerLink="/welcome/leavesToApprove">
              <i nz-icon nzType='notification'></i>
              <span>Leaves to approve</span>
              <nz-badge [nzCount]="leaveToApproveCountChange"></nz-badge>
            </li>
                   
            <li *ngxPermissionsOnly="['ADMIN']"  nz-menu-item routerLink="/welcome/employees">
              <i nz-icon nzType='team'></i>
              <span>Employees</span>
            </li>
            
            <li   nz-menu-item routerLink="/welcome/reports">
              <i nz-icon nzType='bar-chart'></i>
              <span>Reports</span>
            </li>
          <li nz-menu-item routerLink="/welcome/myAccount">
              <i nz-icon nzType='user'></i>
              <span>My Account</span>
            </li>
          </ul>
        </li>
      </ul>
      <div class="sidebar-footer">
        <button nz-button nzType="primary" class="logout-button" (click)="logout()"><i nz-icon nzType="logout"></i>Logout</button>
      </div>
    </nz-sider>
    <nz-layout >
      <nz-header class="app-header">
        <div class="user-icon" style="margin-right: 20px;">
          <a class="user-info" routerLink="/welcome/myAccount">
            <i nz-icon nzType="user"></i>
            <b><span>{{user | uppercase}}</span></b>
          </a>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
    </nz-layout>
  
