<div id='calendar-container'>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
        <p style="display: flex; flex-direction: column;">
           <span><nz-badge nzColor="#9c1c1c"></nz-badge><b>UNPAID LEAVE</b></span> 
            <span><nz-badge nzColor="#141c4c"></nz-badge><b>VACATION</b></span>
           <span><nz-badge nzStatus="warning"></nz-badge><b>SICK LEAVE</b></span> 
        </p>
        <button nzType="primary" nz-button (click)="toggleWeekends()">toggle weekends</button>
    </div>
    <full-calendar [options]="calendarOptions">
        <ng-template #eventContent let-arg>
            <i>{{arg.event.title}}</i>
        </ng-template>
    </full-calendar>
</div>