<nz-input-group >
    <button style="float:right "  nz-button nzType="primary" (click)="search(this.status)" nzSearch>
      <i nz-icon nzType="search"></i>
    </button>
    <input
      type="text"
      ngModel
      nz-input
      [(ngModel)]="status"
      placeholder="search by status , please type in capitals"
      style="width: 25%; float:right "
    />
    
  </nz-input-group>
  <br>
  <nz-table #basicTable [nzData]="data" [nzPageSize]="7" >
      <thead>
        <tr>
          <th>Full Name</th>
          <th>From</th>
          <th>To</th>
          <th>Duration</th>
          <th>Leave Type</th>
          <th>Reason</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data?.employee.firstName | titlecase}}  {{data?.employee.lastName | titlecase}} </td>
          <td>{{ data.fromDate }}</td>
          <td>{{ data.toDate }}</td>
          <td>{{ data.duration  }}</td>
          <td>
            <p *ngIf="data.leaveType=='SICK_LEAVE'" class='mx-3' >Sick Leave</p>
              <p *ngIf="data.leaveType=='VACATION'" class='mx-3' >Vacation</p>
              <p *ngIf="data.leaveType=='UNPAID_LEAVE'" class='mx-3' >Unpaid Leave</p>
               </td>
          <td>{{ data.reason }}</td>
          <td>
            <i *ngIf="data.status=='REJECTED'" class='mx-3' style='color: red' >Rejected</i>
            <i *ngIf="data.status=='APPROVED'" class='mx-3' style='color: rgb(44, 177, 44)'>Approved</i>
            <i *ngIf="data.status=='PENDING'" class='mx-3' style='color: blue' >Pending</i>
             </td>
        </tr>
      </tbody>
    </nz-table>
  
  
