<nz-table #basicTable [nzData]="data" >
    <thead>
      <tr>
        <th>Full Name</th>
        <th>From</th>
        <th>To</th>
        <th>Duration</th>
        <th>Leave Type</th>
        <th>Reason</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data?.employee?.firstName }}   {{ data?.employee?.lastName }}</td>
        <td>{{ data.fromDate }}</td>
        <td>{{ data.toDate }}</td>
        <td>{{ data.duration }}</td>
        <td>{{ data.leaveType }}</td>
        <td>{{ data.reason }}</td>
        
        <td>
          <button nz-button nzType="primary" nzTheme="outline" (click)="approveLeave(data.id)">APPROVE</button>&nbsp;
              <button nz-button nzType="primary" (click)="rejectLeave(data.id)"  nzDanger>REJECT</button>
            
        </td>
      </tr>
    </tbody>
  </nz-table>
