<div class='container'>
        <div class="row right">
<div class="col-6">
    <nz-input-group>
      <input
        type="text"
        ngModel
        nz-input
        [(ngModel)]="username"
        placeholder="search by username"
        style="width: 50%"
      />
      <button [disabled]="username === ''" nz-button nzType="primary" (click)="search(this.username)" nzSearch>
        <i nz-icon nzType="search"></i>
      </button>
    </nz-input-group>
</div>
        <div class='col' >
          <app-set-employees style="float:right" [employee]='employee' (output)='reload($event)'></app-set-employees>
        </div>
      </div>
<br>
        <nz-table 
                 #basicTable [nzData]='employees' [nzPageSize]='6'
                  >
          <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <!-- <th>Department</th> -->
            <th>Email</th>
            <th>Gender</th>
            <th>Date Of Birth</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor='let data of basicTable.data'>
         <td> <a style="color:rgb(0, 38, 255);"   routerLink='/welcome/employee-details/{{data.id}}'>{{data.firstName | titlecase}} </a></td>   
           <td><a style="color:rgb(0, 38, 255);"  routerLink='/welcome/employee-details/{{data.id}}'>{{data.lastName | titlecase}} </a></td>
            <td>{{data.username }}</td>
            <!-- <td>{{data.department}}</td> -->
            <td>{{data.email}} </td>
            <td>{{data.gender}} </td>
            <td>{{data.dateOfBirth | date: 'yyyy-MM-dd'}} </td>
            <td>
              <nz-button-group>
              <app-set-employees [employee]='data' (output)='load($event)'></app-set-employees>
              <a
                nz-popconfirm
                nzPopconfirmTitle="Are you sure delete this employee?"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="confirm(data.id)"
                nz-butto>&nbsp;
                <button nz-button nzType="default" nzDanger><i nz-icon nzType="delete" nzTheme="outline"></i></button>
              </a>
              </nz-button-group>
            </td>
          </tr>
          </tbody>
        </nz-table>
    
      
      

