<div class='container'>
  <div class="row right">
  <div class='col' >
    <app-main style="float:right" [leave]='leave' (output)='reload($event)'></app-main>
  </div>
</div>
<br>
  <nz-table  #basicTable [nzData]='leaves' [nzPageSize]='7'>
    <thead>
    <tr>
      <th>Leave Type</th>
      <th>Reason</th>
      <th>Status</th>
      <th>Duration</th>
      <th>To</th>
      <th>From</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor='let data of basicTable.data'>
     <td>
      <p *ngIf="data.leaveType=='SICK_LEAVE'" class='mx-3' >Sick Leave</p>
        <p *ngIf="data.leaveType=='VACATION'" class='mx-3' >Vacation</p>
        <p *ngIf="data.leaveType=='UNPAID_LEAVE'" class='mx-3' >Unpaid Leave</p>
         </td>
      <td>{{data.reason}} </td>
      <td>
        <i *ngIf="data.status=='REJECTED'" class='mx-3' style='color: red' >Rejected</i>
        <i *ngIf="data.status=='APPROVED'" class='mx-3' style='color: rgb(44, 177, 44)'>Approved</i>
        <i *ngIf="data.status=='PENDING'" class='mx-3' style='color: blue' >Pending</i>
         </td>
      <td>{{data.duration}} </td>
      <td>{{data.fromDate}} </td>
      <td>{{data.toDate}} </td>
      <td>
        <nz-button-group>
        <app-main [leave]='data' (output)='load($event)'></app-main>
        <a
          nz-popconfirm
          nzPopconfirmTitle="Are you sure delete this leave?"
          nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="confirm(data.id,data.employee.id)"
          nz-butto>
          <button nz-button nzType="default" nzDanger><i nz-icon nzType="delete" nzTheme="outline"></i></button>
        </a>
        </nz-button-group>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <p  ><nz-badge nzStatus="warning"></nz-badge>Note:You can only edit leaves with status of Pending</p>