<nz-table #basicTable [nzData]="data" [nzPageSize]="7" >
    <thead>
      <tr>
        <th>Full Name</th>
        <th>From</th>
        <th>To</th>
        <th>Duration</th>
        <th>Leave Type</th>
        <th>Reason</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data?.employee.firstName}}  {{data?.employee.lastName}} </td>
        <td>{{ data.fromDate }}</td>
        <td>{{ data.toDate }}</td>
        <td>{{ data.duration  }}</td>
        <td>{{ data.leaveType }}</td>
        <td>{{ data.reason }}</td>
        <td>
          <i *ngIf="data.status=='REJECTED'" class='mx-3' style='color: red' >REJECTED</i>
          <i *ngIf="data.status=='APPROVED'" class='mx-3' style='color: rgb(44, 177, 44)'>APPROVED</i>
          <i *ngIf="data.status=='PENDING'" class='mx-3' style='color: blue' >PENDING</i>
           </td>
      </tr>
    </tbody>
  </nz-table>

