<div class="container">
  <div class="row">
    <div class="card profile">
      <nz-avatar nzSrc="/assets/user.jpg" nzSize="large" nzShape="circle" style="display: flex; justify-content: center;"></nz-avatar>
      <h5>Profile</h5>
      <hr>
      <div class="text-left">
        <p>
          <strong>Email:</strong> {{ this.employeeDetails.email }}
        </p>
        <p>
          <strong>First Name:</strong> {{ this.employeeDetails.firstName }}
        </p>
        <p>
          <strong>Last Name:</strong> {{ this.employeeDetails.lastName }}
        </p>
        <p>
          <strong>Username:</strong> {{ this.employeeDetails.username }}
        </p>
        <p>
          <strong>Gender:</strong> {{ this.employeeDetails.gender }}
        </p>
        <p>
          <strong>Date Of Birth:</strong> {{ this.employeeDetails.dateOfBirth | date: 'yyyy-MM-dd' }}
        </p>
      </div>
    </div>

    <div class="card details">
      <h5>Employee Details</h5>
      <hr>
      <div class="text-left">
        <p>
          <strong>Employee Number:</strong> {{ this.employeeDetails.emp_number }}
        </p>
        <p>
          <strong>Contract Type:</strong> {{ this.employeeDetails.status }}
        </p>
        <p>
          <strong>Employee Status:</strong> {{ this.employeeDetails.employeeStatus }}
        </p>
        <p>
          <strong>Grade:</strong> {{ this.employeeDetails.grade }}
        </p>
        <p>
          <strong>Date Of Join:</strong> {{ this.employeeDetails.date_of_join | date: 'yyyy-MM-dd' }}
        </p>
        <p>
          <strong>Job Title:</strong> {{ this.employeeDetails.designation}}
        </p>
        <p>
          <strong>Acc Number:</strong> {{ this.employeeDetails.acc_number}}
        </p>
        <p>
          <strong>Bank:</strong> {{ this.employeeDetails.bank }}
        </p>
        <p>

          <strong>Bank Branch:</strong> {{ this.employeeDetails.branch_name }}
        </p>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="card leaves">
      <h5>Leaves</h5>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Leave Type</th>
            <th>Default Days</th>
            <th>Available Days</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Unpaid Leave</td>
            <td>365</td>
            <td>{{ this.employeeDetails.availableUnpaidLeave }}</td>
          </tr>
          <tr>
            <td>Annual Leave</td>
            <td>22</td>
            <td>{{ this.employeeDetails.availableAnnualLeave }}</td>
          </tr>
          <tr>
            <td>Special Leave</td>
            <td>10</td>
            <td>{{ this.employeeDetails.availableSpecialLeave }}</td>
          </tr>
          <tr>
            <td>Sick Leave</td>
            <td>12</td>
            <td>{{ this.employeeDetails.availableSickLeave }}</td>
          </tr>
          <tr>
            <td>Study Leave</td>
            <td>10</td>
            <td>{{ this.employeeDetails.availableStudyLeave }}</td>
          </tr>
          <tr>
            <td>Maternity Leave</td>
            <td>90</td>
            <td>{{ this.employeeDetails.availableMaternityLeave }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
