


<div class="row">
  <div class="col text-center">
    <div class="card" style=" border-radius: 20px; height: 400px; "><br><br>
      <h4> PROFILE</h4><br>
      <p>Email: {{this.employeeDetails.email}}</p>
      <p>First Name: {{this.employeeDetails.firstName}}</p>
      <p>Last Name: {{this.employeeDetails.lastName}}</p>
      <p>Username: {{this.employeeDetails.username}}</p>
      <p>Date Of Birth: {{this.employeeDetails.dateOfBirth}}</p>
      <p>Gender: {{this.employeeDetails.gender}}</p>
    </div>
  </div>
  <div class="col text-center">
    <div class="card" style=" border-radius: 20px; height: 400px;"><br><br>
      <h4> LEAVES</h4><br>
      <p>Available Annual Days: {{this.employeeDetails.availableAnnualLeave}}</p>
      <p>Available Unpaid Days: {{this.employeeDetails.availableUnpaidLeave}}</p>
      <p>Available Special Days: {{this.employeeDetails.availableSpecialLeave}}</p>
     </div>
  </div>
</div>