<nz-card style="width:600px;" nzTitle="Employee Details" >
  <div >
  <h3>
    Email            :{{this.employeeDetails.email}}<br>
    Full Name     : {{this.employeeDetails.firstName }}  {{this.employeeDetails.lastName}}<br>
    Date Of Birth : {{this.employeeDetails.dateOfBirth}}<br>
    Gender        : {{this.employeeDetails.gender}}<br><br>

    Sick Days Available     : {{this.employeeDetails.availableSickLeave}}<br>
    Vacation Days Available : {{this.employeeDetails.availableVacationLeave}}<br>
    Unpaid Leave Available  : {{this.employeeDetails.availableUnpaidLeave}}<br>
</h3>
  </div> 
  </nz-card>
 