.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .card {
    flex: 0 0 50%;
    padding: 20px;
    /* border-radius: 5px; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    margin-bottom: 15px;
    background-color: #ffffff2c; /* Replace with your desired background color */
  }
  
  .card.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card.profile nz-avatar {
    margin-bottom: 15px;
  }
  
  .card h5 {
    margin-top: 0;
    font-size: 18px;
    color: #333; /* Replace with your desired heading color */
  }
  
  .card hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-top: 1px solid #eee;
  }
  
  .card.details p,
  .card.leaves th,
  .card.leaves td {
    font-size: 14px;
    color: #666; /* Replace with your desired text color */
    line-height: 1.5;
    margin-bottom: 5px;
  }
  
  .card.leaves th {
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .card.leaves i {
    margin-right: 10px;
  }
  
  /* You can add media queries for responsiveness here */
  @media (max-width: 768px) {
    .card {
      flex: 1 0 100%;
    }
  }
  