<div class="row">
  <div class="col text-center">
    <div class="card" style="border-radius: 20px; height: 500px;"><br><br>
      <h4>MY PROFILE</h4><br>
      <p>Email: {{this.userInfo.email}}</p>
      <p>First Name: {{this.userInfo.firstName}}</p>
      <p>Last Name: {{this.userInfo.lastName}}</p>
      <p>Username: {{this.userInfo.username}}</p>
      <p>Date Of Birth: {{this.userInfo.dateOfBirth}}</p>
      <p>Gender: {{this.userInfo.gender}}</p>
    </div>
  </div>
  <div class="col text-center">
    <div class="card" style="color: #31087B; border-radius: 20px; height: 500px;"><br><br>
      <h4>MY LEAVES</h4><br>
      <p>Available Sick Days: {{this.userDetails.availableSickLeave}}</p>
      <p>Available Unpaid Days: {{this.userDetails.availableUnpaidLeave}}</p>
      <p>Available Vacation Days: {{this.userDetails.availableVacationLeave}}</p>
    </div>
  </div>
</div>