<div class="row">
  <div class="col text-center">
    <div class="card" style="border-radius: 20px; height: 500px;"><br><br>
      <h4>MY PROFILE</h4><br>
      <p><b>Email: {{this.userInfo.email}}</b></p>
      <p><b>First Name: {{this.userInfo.firstName}}</b></p>
      <p><b>Last Name: {{this.userInfo.lastName}}</b></p>
      <p><b>Username: {{this.userInfo.username}}</b></p>
      <p><b>Date Of Birth: {{this.userInfo.dateOfBirth}}</b></p>
      <p><b>Gender: {{this.userInfo.gender}}</b></p>
    </div>
  </div>
  <div class="col text-center">
    <div class="card" style=" border-radius: 20px; height: 500px;"><br><br>
      <h4>MY LEAVES</h4><br>
      <p><b>Default Sick Days: 10</b></p>
      <p><b>Default Unpaid Days: 365</b></p>
      <p><b>Default Vacation Days:22 </b></p><br>
      <p><b>Available Sick Days: {{this.userDetails.availableSickLeave}}</b></p>
      <p><b>Available Unpaid Days: {{this.userDetails.availableUnpaidLeave}}</b></p>
      <p><b>Available Vacation Days: {{this.userDetails.availableVacationLeave}}</b></p>
    </div>
  </div>
</div>