<div nz-row >
<div nz-col [nzSpan]="8" class="text-center"  >
    <nz-card nzTitle="MY PROFILE" [style]="{ borderRadius:'20px', height:'500px'}"><br>
   <h5>  <p> Email: {{this.userDetails.email}}</p>
      <p> First Name: {{this.userDetails.firstName}}</p>
      <p> Last Name: {{this.userDetails.lastName}}</p>
      <p> Username : {{this.userDetails.username}}</p>
      <p> Date Of Birth: {{this.userDetails.dateOfBirth}}</p>
      <p> Gender: {{this.userDetails.gender}}</p>
    </h5><br>
    </nz-card>
  </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div nz-col [nzSpan]="8" class="text-center"  >
    <nz-card nzTitle="MY LEAVES" [style]="{Color:'#31087B', borderRadius:'20px', height:'500px'}"><br><br><br><br><br>
     <h5> <p> Available Sick Days : {{this.userDetails.availableSickLeave}}</p>
      <p> Available Unpaid Days: {{this.userDetails.availableUnpaidLeave}}</p>
      <p> Available Vacation Days: {{this.userDetails.availableVacationLeave}}</p>
    </h5>
    </nz-card>
  </div>
</div>